@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v17-latin-700.woff2') format('woff2'),
    url('../fonts/play-v17-latin-700.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-mono-v22-latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-mono-v22-latin-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/roboto-mono-v22-latin-600.woff2') format('woff2'),
    url('../fonts/roboto-mono-v22-latin-600.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-mono-v22-latin-700.woff2') format('woff2'),
    url('../fonts/roboto-mono-v22-latin-700.woff') format('woff');
}

/* Root */
:root {
  --color-primary-light: #ffffff;
  --color-primary-dark: #000000;
  --color-brand-light: #2b7fff;
  --color-brand-dark: #011c44;
  --background-color-button-hover: #f5f5f5;
  --color-copyright: #747272;
}

/* Base */
* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

body {
  color: var(--color-primary-light);
  font-family: 'Roboto', monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}

.distance {
  margin-bottom: 48px;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1272px;
  margin: 0 auto;
}

address {
  font-style: normal;
}

/* Header */
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 56px;
}

.header-social {
  display: flex;
  gap: 43px;
}

.header-link {
  color: var(--color-brand-dark);
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
}

.header-link:hover {
  color: var(--color-brand-light);
}

/* Hero section */
.hero-section {
  padding: 160px 0 270px;
}

.hero-item {
  color: var(--color-brand-dark);
  line-height: 1.2;
  margin-bottom: 16px;
}

.hero-title {
  font-family: 'Play', sans-serif;
  font-weight: 700;
  color: var(--color-brand-dark);
  margin-bottom: 40px;
}

.hero-item2 {
  color: var(--color-brand-dark);
  font-size: 12px;
}

/* Button */
.button {
  padding: 16px 32px;
  background-color: var(--color-brand-light);
  border-radius: 32px;
  cursor: pointer;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 14px;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: var(--background-color-button-hover);
}

/* About us section */
.about-us-container {
  display: flex;
  justify-content: space-between;
}

.about-item-container {
  max-width: 705px;
}

.about-images-block {
  display: block;
  margin: 40px 120px 40px 28px;
}

.about-images-recover {
  margin: 0 92px 0 200px;
}

.about-us-title {
  font-family: 'Play', sans-serif;
  margin-bottom: 40px;
  font-weight: 700;
  color: var(--color-brand-dark);
}

.accent {
  color: var(--color-brand-light);
}

.about-us-item .margin {
  color: var(--color-brand-dark);
  margin-bottom: 40px;
  font-size: 22px;
  line-height: 1.7;
}

.about-us-item {
  color: var(--color-brand-dark);
  font-size: 22px;
  line-height: 1.7;
}

.about-us-item .bold {
  font-weight: bolder;
}

/* Why section */
.why-container {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.why-title-container {
  display: flex;
  justify-content: center;
}

.why-list {
  display: flex;
  gap: 56px;
}

.why-title {
  font-family: 'Play', sans-serif;
  font-weight: 700;
  color: var(--color-brand-dark);
}

.why-item {
  color: var(--color-primary-dark);
  line-height: 1.3;
}

/* Servives section */
.services-container {
  display: flex;
  gap: 40px;
}

.services-head-container {
  display: flex;
  justify-content: center;
}

.services-images-container {
  display: flex;
  gap: 16px;
}

.services-title {
  font-family: 'Play', sans-serif;
  font-weight: 700;
  color: var(--color-brand-dark);
}
.services-item {
  font-size: 22px;
  line-height: 1.2;
}

/* Contact section */
.contact-title {
  font-family: 'Play', sans-serif;
  font-weight: 700;
  color: var(--color-brand-dark);
}

.contact-title-container {
  display: flex;
  justify-content: center;
}

.contact-item {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.2;
}

/* Footer */
.footer-container {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-grow: 1;
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 186px;
  margin-right: 186px;
}

.footer-address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.footer-link {
  font-size: 16px;
  line-height: 1.2;
  text-decoration: none;
  padding-bottom: 16px;
}

.address-link {
  font-size: 16px;
  line-height: 1.2;
  padding-bottom: 16px;
}

.address-link2 {
  font-size: 16px;
  line-height: 1.2;
  padding-bottom: none;
}

.address-copyright {
  color: var(--color-copyright);
  font-size: 13px;
  line-height: 1.15;
  padding-top: 16px;
}
